# .dockerignore
# 忽略 Node.js 模組資料夾
node_modules

# 忽略 npm 除錯日誌
npm-debug.log* # 使用通配符匹配所有 debug log

# 忽略 macOS 系統檔案
.DS_Store

# 忽略 Git 相關檔案和資料夾
.git
.gitignore

# 忽略編輯器或 IDE 相關的臨時檔案
*.log
*.tmp
.vscode
.idea

# 忽略環境變量文件 (非常重要，防止敏感信息泄露)
#.env
#.env.local
#.env.*.local

# 忽略用户特定设置文件（如果它不应该被打包到镜像中）
#settings.json

# 忽略测试和会话文件
test_db_read.js
vpms.session.sql

# 忽略说明文件
System_instructions.txt
